.main {
  width: 16rem;
}

/* Logo */

.mainLogo {
  margin-top: 1.5rem;
}

.mainLogo img {
  box-shadow: 4px 4px 16px var(--vermilion-light);
}

/* --- */
/* Middle Screen */

.screenPlaceholder {
  margin-top: 2rem;
  height: 9rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.loginScreen, .registerScreen {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
    height: 1rem;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid var(--vermilion);
}

/* --- */
/* Buttons */

.mainButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  top: 2rem;
  position: relative;
}

.mainButtons .buttonWrapper button {
  height: 3rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1; 
  padding: 0;
  width: 100%;
}

.mainButtonLogin {
  background-color: var(--raspberry);
  box-shadow: 4px 4px 4px var(--raspberry-light);
}

.mainButtonRegister {
  background-color: var(--vermilion);
  box-shadow: 4px 4px 4px var(--vermilion-light);
}

.buttonWrapper {
  height: 3rem;
  width: 100%;
}

/* --- */
/* Back */

.backDiv {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2rem;
  text-align: center;
}

.backDiv a {
  color: var(--vermilion);
  font-size: 1.2rem;
  text-decoration: none;
}

/* --- */