:root {
    --papaya-whip: #F9D68B;
    --ash-gray: #C6D8D3;
    --jet: #3A3335;
    --raspberry: #E95D8C;
    --vermilion: #F5928E;

    --papaya-whip-strong: #F5BB3D;
    --ash-gray-strong: #92B5AB;
    --jet-strong: #0B0A0A;
    --raspberry-strong: #D81E5B;
    --vermilion-strong: #F0544F;
    
    --raspberry-light: #F8C9D9;
    --vermilion-light: #FCDBD9;
    --ash-gray-light: #F3F7F6;
    --papaya-whip-light: #FDF1D8;
    --jet-light: #77696D;

    --grid-spacing: 0.5rem;

    --spacing-xxs: calc(var(--grid-spacing) * 0.5);
    --spacing-xs: calc(var(--grid-spacing) * 1);
    --spacing-s: calc(var(--grid-spacing) * 2);
    --spacing-m: calc(var(--grid-spacing) * 3);
    --spacing-l: calc(var(--grid-spacing) * 4);
    --spacing-xl: calc(var(--grid-spacing) * 5);
    --spacing-xxl: calc(var(--grid-spacing) * 8);

    --font-primary: 'Bebas-Neue';
    --font-secondary: 'Roboto';

    font-family: var(--font-primary), system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face{
    font-family: 'Bebas-Neue';
    src: url('/fonts/Bebas-Neue/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/static/Roboto-Regular.ttf') format('truetype');
}

html {
    font-family: var(--font-primary);
    background-color: var(--ash-gray-light);
    margin: 0;
    // padding: var(--spacing-s);
}

body {
    overflow: auto;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--font-primary);
    font-size: 3rem;
    color: var(--jet-strong);
    text-decoration: underline;
    margin: var(--spacing-s) 0 var(--spacing-m) 0;
}

h2 {
    font-family: var(--font-primary);
    font-size: 3rem;
    color: var(--jet-strong);
    margin: var(--spacing-s) 0 var(--spacing-m) 0;
}

h3 {
    font-family: var(--font-primary);
    font-size: 2.25rem;
    color: var(--jet-strong);
    margin: var(--spacing-s) 0 var(--spacing-s) 0;
}

p {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    color: var(--jet-strong);
    margin: var(--spacing-s) 0 var(--spacing-s) 0;
}

p.differentiate {
    font-family: var(--font-secondary);
}